/* Elimina bordes blancos aplicando fondo global */
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* azul marino oscuro */
  color: white;
  font-family: 'Anton', sans-serif;
}
.clip-inverted-flag {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 90% 50%, 100% 100%, 100% 100%, 0 100%);
}

