
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* azul marino oscuro */
  color: white;
  font-family: 'Anton', sans-serif;
}


.oswald {
  font-family: 'Oswald', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.jost {
  font-family: 'Jost', sans-serif;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.gothic-a1 {
  font-family: 'Gothic A1', sans-serif;
}




.clip-inverted-flag {
  clip-path: none; /* default en móviles */
}

@media (min-width: 1024px) {
  .clip-inverted-flag {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 90% 50%, 100% 100%, 100% 100%, 0 100%);
  }
}

@media (min-width: 1024px) {
  .sec3-shape-img-form {
    clip-path: polygon(0 0, 100% 0, 90% 0, 100% 50%, 90% 100%, 100% 100%, 0 100%);
  }
}

@media (min-width: 1024px) {
  .sec4-shape-img-form {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0% 50%, 10% 0, 0 10%);
  }
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.text-shadow-lg {
  text-shadow: 4px 4px 6px rgba(0,0,0,0.7);
}

.text-shadow-xl {
  text-shadow: 10px 10px 20px rgba(0,0,0,1);
}

li::marker {
  font-size: 1.5rem; /* más grande que el texto normal */
  color: #1e3a8a;    /* azul equivalente a text-blue-950 */
}

@keyframes fadeInScale {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

.fadeInScale {
  animation: fadeInScale 0.3s ease;
}


/* Estilo base: columna */
.custom-flex-xs {
  display: flex;
  flex-direction: column;
}

/* A partir de 400px: fila */
@media (min-width: 470px) {
  .custom-flex-xs {
    flex-direction: row;

  }
}

/* Estilo base: ancho completo */
.custom-div {
  display: flex;
  flex-direction: column;
}

/* A partir de 407px: ancho automático */
@media (min-width: 470px) {
  .custom-div {
    width: auto;
  }
}

/* Animación: fade-in desde arriba hacia abajo */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px); /* empieza arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* baja a su posición */
  }
}

.fade-in-down {
  animation: fadeInDown 0.6s ease-out forwards;
}
